* {
    padding: 0;
    font-family: 'Clash_regular';
    box-sizing: border-box;
    text-align: center;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face{
    font-family: 'Clash_regular';
    src: url(Fonts/Clash_Regular.otf);
}
#logo{
    margin-top: 20px;
}
#tela {
    display: none;
    text-align: center;
    margin-top: 20px;
}
#texto {
    font-family: 'Clash_regular';
    margin-top: 50px;

}
#jogadores {
    margin-top: 50px;
}
select {
    width: auto;
    height: 60px;
    border-radius: 15px;
    background-color: #0b74b9;
    color: yellow;
    border: 2px solid black;

}
#play{
    display: block;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: #0b74b9;
    color: yellow;
}
#passar{
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: #0b74b9;
    color: yellow;
}
#reset, #mostrar{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: #0b74b9;
    color: yellow;
    display: none;
}
#tela {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#passar, #reset, #play {
    display: block;
    margin: 20px auto;
}
#logotipo{
    position: absolute;
    bottom: 10px;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
}
#box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3b3b3b;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    font-family: 'Clash_regular';
}
button:active {
    transform: scale(0.95);
    transition: all ease 0.3s;
}
img{
    height: 100%;
}